sample/Sample 2/gSAP_eCustoms_MIC/src/main/resources/wsdl/Export.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions targetNamespace="http://service.aes.cust.mic.at" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.aes.cust.mic.at" xmlns:intf="http://service.aes.cust.mic.at" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="http://service.aes.cust.mic.at" xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="getData">
				<complexType>
					<sequence>
						<element name="request" type="xsd:string" xmlns="http://www.w3.org/2001/XMLSchema"/>
					</sequence>
				</complexType>
			</element>
			<element name="getDataResponse">
				<complexType>
					<sequence>
						<element name="getDataReturn" type="xsd:string" xmlns="http://www.w3.org/2001/XMLSchema"/>
					</sequence>
				</complexType>
			</element>
			<element name="sendData">
				<complexType>
					<sequence>
						<element name="request" type="xsd:string" xmlns="http://www.w3.org/2001/XMLSchema"/>
					</sequence>
				</complexType>
			</element>
			<element name="sendDataResponse">
				<complexType>
					<sequence>
						<element name="sendDataReturn" type="xsd:string" xmlns="http://www.w3.org/2001/XMLSchema"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>
	<wsdl:message name="getDataRequest">
		<wsdl:part element="impl:getData" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="sendDataResponse">
		<wsdl:part element="impl:sendDataResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getDataResponse">
		<wsdl:part element="impl:getDataResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="sendDataRequest">
		<wsdl:part element="impl:sendData" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="Export">
		<wsdl:operation name="getData">
			<wsdl:input message="impl:getDataRequest" name="getDataRequest"/>
			<wsdl:output message="impl:getDataResponse" name="getDataResponse"/>
		</wsdl:operation>
		<wsdl:operation name="sendData">
			<wsdl:input message="impl:sendDataRequest" name="sendDataRequest"/>
			<wsdl:output message="impl:sendDataResponse" name="sendDataResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ExportSoapBinding" type="impl:Export">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getData">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getDataRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getDataResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sendData">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="sendDataRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="sendDataResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ExportService">
		<wsdl:port binding="impl:ExportSoapBinding" name="Export">
			<wsdlsoap:address location="https://webdux63.mic-cust.com/miccustaes/services/Export"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>