sample/Sample 2/gSAP_eCustoms_MIC/src/main/resources/wsdl/MIC_CustomsDeclaration.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions targetNamespace="http://service.aes.cust.mic.at" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"><wsdl:types><xsd:schema targetNamespace="http://service.aes.cust.mic.at" elementFormDefault="qualified" xmlns:p0="http://service.aes.cust.mic.at" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:element name="getData"><xsd:complexType><xsd:sequence><xsd:element name="request" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="getDataResponse"><xsd:complexType><xsd:sequence><xsd:element name="getDataReturn" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="sendData"><xsd:complexType><xsd:sequence><xsd:element name="request" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="sendDataResponse"><xsd:complexType><xsd:sequence><xsd:element name="sendDataReturn" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema></wsdl:types><wsdl:message name="sendDataResponse"><wsdl:part name="parameters" element="p9:sendDataResponse" xmlns:p9="http://service.aes.cust.mic.at"/></wsdl:message><wsdl:message name="getDataRequest"><wsdl:part name="parameters" element="p9:getData" xmlns:p9="http://service.aes.cust.mic.at"/></wsdl:message><wsdl:message name="getDataResponse"><wsdl:part name="parameters" element="p9:getDataResponse" xmlns:p9="http://service.aes.cust.mic.at"/></wsdl:message><wsdl:message name="sendDataRequest"><wsdl:part name="parameters" element="p9:sendData" xmlns:p9="http://service.aes.cust.mic.at"/></wsdl:message></wsdl:definitions>