sample/Sample 1/Foundation_BusinessDocumentPDF_IDT_Subscriber (2)/src/main/resources/xsd/BusinessDocument.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="urn:erp:o2c:s:global:business:document:100" xmlns="urn:erp:o2c:s:global:business:document:100" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:element name="BusinessDocument" type="BusinessDocument"/><xsd:complexType name="BusinessDocument"><xsd:sequence><xsd:element name="RawData"><xsd:complexType><xsd:sequence><xsd:element name="Items" minOccurs="0" maxOccurs="unbounded"><xsd:complexType><xsd:sequence><xsd:element name="Line" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="Attributes"><xsd:complexType><xsd:sequence><xsd:element name="Attribute" minOccurs="0" maxOccurs="unbounded"><xsd:complexType><xsd:sequence><xsd:element name="Type" type="xsd:string"/><xsd:element name="Values" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:schema>