sample/Sample 1/Foundation_BusinessDocumentPDF_IDT_Subscriber (2)/src/main/resources/xsd/Delivery_Returns_PDF.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Delivery_Returns_PDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Attachment">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:string" name="Type"/>
              <xs:element type="xs:string" name="Base64Content"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>